In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Resources/EPL_20_21.csv")
df.head(20)

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,3,0
5,César Azpilicueta,Chelsea,ESP,DF,30,26,24,2188,1,2,2015,87.5,0,0,5,1
6,N'Golo Kanté,Chelsea,FRA,MF,29,30,24,2146,0,2,1504,86.6,0,0,7,0
7,Jorginho,Chelsea,ITA,MF,28,28,23,2010,7,1,1739,89.5,7,9,2,0
8,Thiago Silva,Chelsea,BRA,DF,35,23,23,1935,2,0,1871,93.5,0,0,5,1
9,Kurt Zouma,Chelsea,FRA,DF,25,24,22,2029,5,0,1720,91.9,0,0,3,0
10,Mateo Kovačić,Chelsea,CRO,MF,26,27,21,1815,0,1,1737,91.0,0,0,4,0
11,Antonio Rüdiger,Chelsea,GER,DF,27,19,19,1710,1,0,1476,90.7,0,0,0,0
12,Christian Pulisic,Chelsea,USA,"FW,MF",21,27,18,1738,4,2,690,80.0,0,0,2,0
13,Kai Havertz,Chelsea,GER,"MF,FW",21,27,18,1520,4,3,765,86.1,0,0,2,0
14,Andreas Christensen,Chelsea,DEN,DF,24,17,15,1371,0,0,1089,92.8,0,0,2,1
15,Hakim Ziyech,Chelsea,MAR,"FW,MF",27,23,15,1172,2,3,734,74.7,0,0,3,0
16,Tammy Abraham,Chelsea,ENG,FW,22,22,12,1040,6,1,218,68.3,0,0,0,0
17,Marcos Alonso,Chelsea,ESP,DF,29,13,11,960,2,0,592,81.6,0,0,2,0
18,Callum Hudson-Odoi,Chelsea,ENG,"FW,DF",19,23,10,1059,2,3,659,82.2,0,0,0,0
19,Olivier Giroud,Chelsea,FRA,FW,33,17,8,748,4,0,217,74.2,0,0,1,0

In [3]:
df_clean = df[["Name","Goals"]].sort_values(by='Goals', ascending=False)
df_top10goals=df_clean.head(10)
df_top10goals

                      Name  Goals
162             Harry Kane     23
81           Mohamed Salah     22
51         Bruno Fernandes     18
214        Patrick Bamford     17
161          Son Heung-min     17
237  Dominic Calvert-Lewin     16
110            Jamie Vardy     15
267          Ollie Watkins     14
33          İlkay Gündoğan     13
191    Alexandre Lacazette     13

In [4]:
df_top10goals.to_csv(r'top10goals.csv')

In [5]:
df_clean1 = df[["Name","Assists"]].sort_values(by='Assists', ascending=False)
df_top10assists=df_clean1.head(10)
df_top10assists

                     Name  Assists
162            Harry Kane       14
34        Kevin De Bruyne       12
51        Bruno Fernandes       12
273         Jack Grealish       10
161         Son Heung-min       10
110           Jamie Vardy        9
220  Raphael Dias Belloli        9
54        Marcus Rashford        9
136       Aaron Cresswell        8
401           Pascal Groß        8

In [6]:
df_top10assists.to_csv(r'top10assists.csv')

In [7]:
df_clean2 = df[["Name","Passes_Attempted"]].sort_values(by='Passes_Attempted', ascending=False)
df_top10passes=df_clean2.head(10)
df_top10passes

                       Name  Passes_Attempted
80         Andrew Robertson              3214
82   Trent Alexander-Arnold              2941
29                    Rodri              2728
159         Pierre Højbjerg              2687
28               Rúben Dias              2671
213             Luke Ayling              2661
366       James Ward-Prowse              2619
109         Youri Tielemans              2559
51          Bruno Fernandes              2283
212           Stuart Dallas              2212

In [8]:
df_top10passes.to_csv(r'top10passes.csv')

In [9]:
#total no of players
total_players=len(df["Name"])
total_players

532

In [10]:
#total no of teams:
total_team=len(df["Club"].unique())
total_team

20

In [11]:
df_Arsenal= df[df["Club"]=="Arsenal"]
df_Arsenal

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,Yellow_Cards,Red_Cards
183,Bernd Leno,Arsenal,GER,GK,28,35,35,3131,0,0,1156,79.8,0,0,0,1
184,Bukayo Saka,Arsenal,ENG,"FW,DF",18,32,30,2553,5,3,1155,74.9,0,0,1,0
185,Granit Xhaka,Arsenal,SUI,"MF,DF",27,31,29,2522,1,2,2164,89.9,0,0,7,1
186,Rob Holding,Arsenal,ENG,DF,24,30,28,2558,0,1,1768,89.3,0,0,2,0
187,Pierre-Emerick Aubameyang,Arsenal,GAB,FW,31,29,26,2332,10,3,691,75.0,2,2,2,0
188,Kieran Tierney,Arsenal,SCO,DF,23,27,26,2299,1,3,1490,76.2,0,0,4,0
189,Héctor Bellerín,Arsenal,ESP,DF,25,25,24,2089,1,2,1302,82.9,0,0,8,0
190,Gabriel Dos Santos,Arsenal,BRA,DF,22,23,22,1996,2,0,1492,86.0,0,0,4,1
191,Alexandre Lacazette,Arsenal,FRA,FW,29,31,22,1923,13,2,524,78.2,3,3,3,0
192,Thomas Partey,Arsenal,GHA,MF,27,24,18,1534,0,2,1112,86.9,0,0,5,0
193,Emile Smith-Rowe,Arsenal,ENG,"MF,FW",20,20,18,1440,2,4,724,87.7,0,0,0,0
194,Dani Ceballos,Arsenal,ESP,MF,23,25,17,1615,0,3,1286,86.5,0,0,4,0
195,Mohamed Elneny,Arsenal,EGY,MF,28,23,17,1544,1,0,1003,93.4,0,0,3,0
196,David Luiz,Arsenal,BRA,DF,33,20,17,1396,1,0,965,83.6,0,0,1,1
197,Nicolas Pépé,Arsenal,CIV,FW,25,29,16,1616,10,1,674,75.7,1,1,1,1
198,Willian,Arsenal,BRA,"FW,MF",31,25,16,1406,1,5,787,79.3,0,0,0,0
199,Pablo Marí,Arsenal,ESP,DF,26,10,10,900,0,0,592,90.7,0,0,2,0
200,Martin Ødegaard,Arsenal,NOR,MF,21,14,9,866,1,2,521,86.4,0,0,0,0
201,Calum Chambers,Arsenal,ENG,DF,25,10,8,753,0,2,575,80.3,0,0,0,0
202,Cédric Soares,Arsenal,POR,DF,28,10,8,746,0,1,463,75.8,0,0,1,0
203,Martinelli,Arsenal,BRA,FW,19,14,7,589,2,1,159,79.2,0,0,0,0
204,Ainsley Maitland-Niles,Arsenal,ENG,DF,22,11,5,490,0,0,288,78.5,0,0,0,0
205,Eddie Nketiah,Arsenal,ENG,FW,21,17,4,423,2,1,89,82.0,0,0,0,0
206,Mathew Ryan,Arsenal,AUS,GK,28,3,3,270,0,0,67,92.5,0,0,0,0
207,Joe Willock,Arsenal,ENG,MF,20,7,2,238,0,0,91,75.8,0,0,1,0
208,Sead Kolašinac,Arsenal,BIH,DF,27,1,1,90,0,0,64,84.4,0,0,0,0
209,Reiss Nelson,Arsenal,ENG,FW,20,2,0,71,0,0,30,56.7,0,0,0,0
210,Shkodran Mustafi,Arsenal,GER,DF,28,3,0,47,0,0,48,85.4,0,0,0,0
211,Rúnar Alex Rúnarsson,Arsenal,ISL,GK,25,1,0,16,0,0,11,63.6,0,0,0,0

In [12]:
df.to_csv(r'sample.csv')

In [13]:
df_stats = pd.read_csv("Resources/Team_stats.csv")
df_stats.head(25)

,Row Labels,Goals,Assists,Perc_Passes_Completed,Penalty_Goals,Yellow_Cards,Red_Cards
0,Arsenal,53,38,2356.6,6,49,5
1,Aston Villa,52,38,1843.1,5,71,4
2,Brighton,39,24,1943.7,6,49,6
3,Burnley,32,20,1686.4,3,48,0
4,Chelsea,56,38,2268.9,8,51,3
5,Crystal Palace,39,29,1788.7,3,56,2
6,Everton,45,32,2306.1,4,59,2
7,Fulham,26,18,2287.9,3,67,3
8,Leeds United,60,45,1825.8,4,61,1
9,Leicester City,64,45,2139.5,10,61,0
10,Liverpool FC,65,43,2336.7,6,40,0
11,Manchester City,82,55,2081.6,5,46,2
12,Manchester United,70,51,2368.2,10,64,1
13,Newcastle United,44,26,2027.3,6,65,3
14,Sheffield United,19,13,1999.0,3,73,3
15,Southampton,47,33,2115.7,5,52,3
16,Tottenham Hotspur,66,50,1824.1,5,57,2
17,West Bromwich Albion,33,20,2171.5,4,51,4
18,West Ham United,60,46,1835.9,2,50,3
19,Wolverhampton Wanderers,34,21,2195.6,4,55,1

In [14]:
df_stats.to_csv(r'stats.csv')